.container{
    display: flex;
    background-color: brown;
    justify-content: ;
    align-items: ;
    flex-flow: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.container>div{
    margin: 10px;
    background-color: azure;
    padding: 10px;
    font-size: 30px;
    color: black;
}